<div class="jumbotron center">
  <h1>Hi Angela Bee! Happy 3 year Anniversary :)</h1>
  <p></p><p>
    <%= link_to "Click here to log back in!", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>

</div>